.login {
  width: 100vw;
  height: 100vh;
  background-color: #050b1d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #edf2ff;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
  color: #edf2ff;
}

.loginBox{
  height: 300px;
  padding: 20px;
  background-color: rgb(154, 187, 4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput{
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus{
  outline: none;
}

.loginButton{
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #101831;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;
}

.loginForgot{
  text-align: center;
  color: #edf2ff;
}

.loginRegisterButton{
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(65, 79, 1);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.topbarIconBadge {
  width: 25px;
  height: 25px;
  background-color: rgb(154, 187, 4);
  border-radius: 50%;
  color: white;
  position: relative;
  top: -75px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}